body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 20px;
  color: #333333;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.recipe-container {
  margin-top: 20px;
  text-align: center;
  display: none; /* Hide by default */
}

.recipe-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.recipe-steps {
  list-style-type: decimal;
  padding-left: 0;
  text-align: left;
  margin: 0 auto;
  display: inline-block;
}

.recipe-image {
  max-width: 50%;
  border-radius: 8px;
  margin-bottom: 10px;
}